<%# coding: utf-8 %>
<!DOCTYPE html>
<html>
<head>
<title>Yahoo! オークション ライブ別の落札リスト</title>
<meta charset="UTF-8">
<meta name="description" content="" />
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
<!--[if lt IE 9]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
<script type="text/javascript" src="/js/prettify.js"></script>                                   <!-- PRETTIFY -->
<script type="text/javascript" src="/js/kickstart.js"></script>                                  <!-- KICKSTART -->
<link rel="stylesheet" type="text/css" href="/css/kickstart.css" media="all" />                  <!-- KICKSTART -->
<link rel="stylesheet" type="text/css" href="/style.css" media="all" />                          <!-- CUSTOM STYLES -->

<script type="text/javascript">
var stock_chart;
var pie_chart;
$(function() {
    Highcharts.setOptions({
        global: {
            useUTC: false
        }
    });
    chart = new Highcharts.StockChart({
          chart: {
                 renderTo  : 'stock_chart',
                 alignTicks: false
          },
          rangeSelector: {
                         selected: 2,
                         buttons : [
                         {
                            type  : 'week',
                            count : 1,
                            text  : 'w'
                         },{
                            type  : 'month',
                            count : 2,
                            text  : 'm'
                         },{
                            type  : 'all',
                            count : 3,
                            text  : 'All'
                         }],
                         inputEnabled: false
            },
            scrollbar: {
                enabled: false
            },
            navigator : {
                enabled : false
            },
            title: {
                text: '合計落札件数の推移'
            },
            tooltip: {
                formatter: function() {
                    return '<b>'+ Highcharts.dateFormat('%Y-%m-%d', this.x) + '<br />' + this.y + '件</b>';
                }
            },
            yAxis: [
            {
                title: {
                    text: '合計落札件数'
                },
                offset   : 0,
                lineWidth: 2
                }
            ],
            series:
            [
            {
                type: 'column',
                name: '合計落札件数',
                data: 
[
<% loop = 1 %>
<% daily_stats.each do |ds| %>
[<%= ds[:ut] %>, <%= ds[:count] %>]<% if loop != daily_stats.length %>,<% end %><% loop += 1 %>
<% end %>
]
            }
            ]
    });
    pie_chart = new Highcharts.Chart({
        chart: {
            renderTo: 'pie_chart',
            plotBackgroundColor: null,
            plotBorderWidth: null,
            plotShadow: false
        },
        title: {
            text: '落札金額の分布'
        },
        tooltip: {
            formatter: function() {
                return '<b>'+ this.point.name +'</b>: '+ this.percentage +' %';
            }
        },
        plotOptions: {
            pie: {
                allowPointSelect: true,
                cursor: 'pointer',
                dataLabels: {
                    enabled: true,
                    color: '#000000',
                    connectorColor: '#000000',
                    formatter: function() {
                        return '<b>'+ this.point.name +'</b>';
                    }
                }
            }
        },
        series: [{
            type: 'pie',
            name: '落札金額の分布',
            data: [
<% loop = 1 %>
<% price_stats[:stats].each do |ps| %>
    ['<%= ps[:key] %>', <%= ps[:count] %>]<% if loop != price_stats[:stats].length %>,<% end %><% loop += 1 %>
<% end %>
            ]
        }]
    });
});
</script>

<script src="/js/highstock/highstock.js"></script>
<script src="/js/highstock/modules/exporting.js"></script>

</head>
<body>
<div id="wrap" class="clearfix">
<!-- ===================================== END HEADER ===================================== -->

<ul class="menu">
<li class="current"><a href="/">ライブ別の落札状況</a></li>
<li><a href="/reseller">落札金額上位アカウント</a></li>
<li><a href="/stats">アカウント数の比率</a></li>
<li><a href="/about">このサイトについて</a></li>
</ul>

<div class="col_12 center">
<h6>ももいろクローバーＺ ライブチケット</h6>
<h4><span class="icon gray large" data-icon="L"></span>Yahoo! オークション ライブ別の落札リスト<span class="icon gray large" data-icon="L"></span></h4>
<h5><%= name %></h5>
<strong>掲載されたデータは参考値です。詳しくは<a href="/about">このサイトについて</a>をご参照ください。</strong>
</div>

<div class="col_12">
<div id="stock_chart" style="height: 400px; min-width: 500px"></div>
</div>

<div class="col_12 center">
<div class="col_8">
<div id="pie_chart" style="margin: 0 auto"></div>
</div>
<div class="col_4">
<table class="striped" cellspacing="0" cellpadding="0">
  <thead>
    <tr>
      <th>落札金額</th>
      <th>落札件数</th>
    </tr>
  </thead>
  <tbody>
  <% price_stats[:stats].each do |ps| %>
    <tr>
      <td class="right"><%= ps[:key] %></td>
      <td class="right"><%= ps[:count] %></td>
    </tr>
  <% end %>
    <tr>
      <th class="right">合計</th>
      <th class="right"><%= price_stats[:total] %></th>
    </tr>
  </tbody>
</table>
</div>
</div>

<div class="col_12">
<table class="striped tight" cellspacing="0" cellpadding="0">
<thead><tr>
	<th nowrap>タイトル</th>
	<th nowrap>出品者アカウント</th>
	<th nowrap>入札数</th>
	<th nowrap>数量</th>
	<th nowrap>落札金額</th>
	<th nowrap>終了日時</th>
</tr></thead>
<tbody>
<% auctions.each do |a| %>
  <tr>
    <td><a href="<%= a[:url] %>" target="_blank"><%= a[:title] %></a></td>
    <td nowrap><%= a[:seller_id] %></td>
    <td nowrap class="right"><%= a[:bids] %></td>
    <td nowrap class="right"><%= a[:quantity] %></td>
    <td nowrap class="right"><%= a[:price] %> 円</td>
    <td nowrap><%= a[:end_time_ut] %></td>
  </tr>
<% end %>
</tbody>
</table>
</div>

<!-- ===================================== START FOOTER ===================================== -->
</div><!-- END WRAP -->
</body>
</html>
