<%# coding: utf-8 %>
<!DOCTYPE html>
<html>
<head>
<title>Yahoo! オークション ライブ別の落札リスト</title>
<meta charset="UTF-8">
<meta name="description" content="" />
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
<!--[if lt IE 9]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
<script type="text/javascript" src="/js/prettify.js"></script>                                   <!-- PRETTIFY -->
<script type="text/javascript" src="/js/kickstart.js"></script>                                  <!-- KICKSTART -->
<link rel="stylesheet" type="text/css" href="/css/kickstart.css" media="all" />                  <!-- KICKSTART -->
<link rel="stylesheet" type="text/css" href="/style.css" media="all" />                          <!-- CUSTOM STYLES -->

<script type="text/javascript">
var chart;
$(function() {
    Highcharts.setOptions({
        global: {
            useUTC: false
        }
    });
    chart = new Highcharts.StockChart({
          chart: {
                 renderTo  : 'container',
                 alignTicks: false
          },
          rangeSelector: {
                         selected: 2,
                         buttons : [
                         {
                            type  : 'week',
                            count : 1,
                            text  : 'w'
                         },{
                            type  : 'month',
                            count : 2,
                            text  : 'm'
                         },{
                            type  : 'all',
                            count : 3,
                            text  : 'All'
                         }],
                         inputEnabled: false
            },
            scrollbar: {
                enabled: false
            },
            navigator : {
                enabled : false
            },
            title: {
                text: '合計落札件数の推移'
            },
            tooltip: {
                formatter: function() {
                    var s = '<b>'+ Highcharts.dateFormat('%Y-%m-%d', this.x) +'</b>';
                    $.each(this.points, function(i, point) {
                        s += '<br/>' + this.series.name + '：' + point.y;
                    });
                    return s;
                }
            },
            yAxis: [
            {
                title: {
                    text: '合計落札件数'
                },
                offset   : 0,
                lineWidth: 2
                }
            ],
            series:
            [
            {
                type: 'column',
                name: '合計落札件数',
                data: 
[
<% loop = 1 %>
<% daily_stats.each do |ds| %>
[<%= ds[:ut] %>, <%= ds[:count] %>]<% if loop != daily_stats.length %>,<% end %><% loop += 1 %>
<% end %>
]
            }
            ]
    });
});
</script>

<script src="/js/highstock/highstock.js"></script>
<script src="/js/highstock/modules/exporting.js"></script>

</head>
<body>
<div id="wrap" class="clearfix">
<!-- ===================================== END HEADER ===================================== -->

<ul class="menu">
<li class="current"><a href="/">ライブ別の落札状況</a></li>
<li><a href="/reseller">落札金額上位アカウント</a></li>
<li><a href="/stats">アカウント数の比率</a></li>
<li><a href="/about">このサイトについて</a></li>
</ul>

<div class="col_12 center">
<h6>ももいろクローバーＺ ライブチケット</h6>
<h4><span class="icon gray large" data-icon="L"></span>Yahoo! オークション ライブ別の落札リスト<span class="icon gray large" data-icon="L"></span></h4>
<h5><%= name %></h5>
<strong>掲載されたデータは参考値です。詳しくは<a href="/about">このサイトについて</a>をご参照ください。</strong>
</div>

<div class="col_12">
<div id="container" style="height: 500px; min-width: 500px"></div>
</div>

<div class="col_12">
<table class="striped tight" cellspacing="0" cellpadding="0">
<thead><tr>
	<th nowrap>タイトル</th>
	<th nowrap>出品者アカウント</th>
	<th nowrap>入札数</th>
	<th nowrap>数量</th>
	<th nowrap>落札金額</th>
	<th nowrap>終了日時</th>
</tr></thead>
<tbody>
<% auctions.each do |a| %>
  <tr>
    <td><a href="<%= a[:url] %>" target="_blank"><%= a[:title] %></a></td>
    <td nowrap><%= a[:seller_id] %></td>
    <td nowrap class="right"><%= a[:bids] %></td>
    <td nowrap class="right"><%= a[:quantity] %></td>
    <td nowrap class="right"><%= a[:price] %> 円</td>
    <td nowrap><%= a[:end_time_ut] %></td>
  </tr>
<% end %>
</tbody>
</table>
</div>

<!-- ===================================== START FOOTER ===================================== -->
</div><!-- END WRAP -->
</body>
</html>
